# Entornos virtuales
venv/
env/
.env/
.venv/

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno y configuración de IDE
*.env
*.idea/
.vscode/

# Otros archivos temporales
*.py~ 
*.swp
.DS_Store